.loginRegisterSection {
    background-image: url("../../Components/ChatTest/assets/accexible_background_pattern.jpeg");
    background-size: cover;
}

.loginRegisterContainer {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginRegisterContainer h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.loginForm {
    color: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    color: #4D60C0;
    border-radius: 10px;
    padding: 10px;
}

.loginButton:hover {
    background-color: #4D60C0;
    color: #fff;
    border: 2px solid #fff;
}

.loginButton:disabled{
    background-color: #4D60C0;
    color: #fff;
    cursor: not-allowed;
    border: 2px solid #fff;
}

.emailError {
    position: relative;
    margin-top: 3px;
    text-align: center;
    height: 40px;
    background-color: #E44E40;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailError::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; 
    content: "\f071";
    background-color: #E44E40;
    color: #fff;
    padding-left: 20px;
}

