.emailConfirmationSection {
    background-image: url("../../Components/ChatTest/assets/accexible_background_pattern.jpeg");
    background-size: cover;
}

.emailConfirmationContainer {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailContainer {
    background-color: #fff;
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.emailContainer p {
    text-align: center;
    font-size: 1.2rem;
    color: #4D60C0;
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .emailContainer p {
        font-size: 1rem;
    }
}

.buttonConfirmation {
    width: 250px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #4D60C0;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.buttonConfirmation:hover {
    background-color: #4D60C0;
    color: #fff;
}

