nav {
  align-items: center;
  background: #fff;
  height: 80px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.fas {
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 20px;
}
.menu-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: inline-flex;
}

.logo img {
  width: 150px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #4d60c0;
  border-radius: 10px;
  font-weight: 500;
  font-family: Roboto;
  padding: 5px 10px;
  margin-left: 20px;
}

.menu-list li a:hover,
.menu-list li a.active {
  background-color: #4d60c0;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.closeButton {
  border: none;
  background-color: #4d60c0;
  border-radius: 10px;
  padding: 7px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.closeButton::after {
  content: "\f2f5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 20px;
  }
  .menu-list li a {
    font-size: 14px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
    margin: auto 0;
  }
  .menu-list {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow-x: hidden;
    right: 0;
    top: 50px;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100px;
    display: block;
    margin: auto;
  }

  .menu-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
}
